.about#about
    h1.about__main About Me
    .about__content
        .about__avatar
        .about__me I am Bolby Doe, web developer from London, United Kingdom. I have rich experience in web site design and building and customization, also I am good at WordPress.
        .about__skill
            .about__programming
                h3.about__title Programming Skills
                .about__skill-item
                    .about__skill-name HTML
                    include ../svg/html.svg.pug
                .about__skill-item
                    .about__skill-name CSS
                    include ../svg/css.svg.pug
                .about__skill-item
                    .about__skill-name Javascript
                    include ../svg/javascript.svg.pug
                .about__skill-item
                    .about__skill-name Git
                    include ../svg/git.svg.pug
                .about__skill-item
                    .about__skill-name NodeJS
                    include ../svg/nodejs.svg.pug
                .about__skill-item
                    .about__skill-name TypeScript
                    include ../svg/typescript.svg.pug
                .about__skill-item
                    .about__skill-name ReactJS
                    include ../svg/reactjs.svg.pug
