header.header
    h1.header__title Curriculum Vitae
    .header__nav
        .header__item
            include ../svg/home.svg.pug
            a.header__link(href="#") Home
        .header__item
            include ../svg/about.svg.pug
            a.header__link(href="#") About
        .header__item
            include ../svg/experience.svg.pug
            a.header__link(href="#") Experience
        .header__item
            include ../svg/work.svg.pug
            a.header__link(href="#") Project
    .header__copy © 2020 Agnes K. Rivers Template