header.header
    h1.header__title Curriculum Vitae
    .header__nav
        .header__item.header__item--active#menuHome
            include ../svg/home.svg.pug
            .header__link Home
        .header__item#menuAbout
            include ../svg/about.svg.pug
            .header__link About
        .header__item#menuExperience
            include ../svg/experience.svg.pug
            .header__link Experience
        .header__item#menuProject
            include ../svg/work.svg.pug
            .header__link Project
        .header__item#menuContact
            include ../svg/contact.svg.pug
            .header__link Contact
    .header__copy © 2020 Agnes K. Rivers Template