.intro
    .intro__avatar
    h1.intro__name Nguyễn Huy Hoàng
    h3.intro__nick agneskrivers
    span.intro__iam I'm a 
        span.intro__animation#imA Web developer
    .intro__social
        a.intro__item(href='https://www.facebook.com/Reu.1998' target='_blank')
            include ../svg/facebook.svg.pug
        a.intro__item(href='https://twitter.com/agneskrivers' target='_blank')
            include ../svg/twitter.svg.pug
        a.intro__item(href='https://github.com/agneskrivers' target='_blank')
            include ../svg/github.svg.pug
        a.intro__item(href='https://stackoverflow.com/users/11404407/agnes-k-rivers' target='_blank')
            include ../svg/stackoverflow.svg.pug
        a.intro__item(href='https://www.behance.net/hongnguyn18' target='_blank')
            include ../svg/behance.svg.pug
        a.intro__item(href='https://www.linkedin.com/in/agnes-rivers-a2a32a194/' target='_blank')
            include ../svg/linkedin.svg.pug
    .intro__hire-me Hire me