- var facebook = 'https://www.facebook.com/Reu.1998'
- var twitter = 'https://twitter.com/agneskrivers'
- var github = 'https://github.com/agneskrivers'
- var stackoverflow = 'https://stackoverflow.com/users/11404407/agnes-k-rivers'
- var behance = 'https://www.behance.net/hongnguyn18'
- var linkedin = 'https://www.linkedin.com/in/agnes-rivers-a2a32a194/'

.intro#intro
    .intro__avatar
    h1.intro__name Nguyễn Huy Hoàng
    h3.intro__nick agneskrivers
    span.intro__animation I'm a 
        span Web Developer
        span Front-end Developer
    .intro__social
        a.intro__item(href= facebook target='_blank')
            include ../svg/facebook.svg.pug
        a.intro__item(href= twitter target='_blank')
            include ../svg/twitter.svg.pug
        a.intro__item(href= github target='_blank')
            include ../svg/github.svg.pug
        a.intro__item(href= stackoverflow target='_blank')
            include ../svg/stackoverflow.svg.pug
        a.intro__item(href= behance target='_blank')
            include ../svg/behance.svg.pug
        a.intro__item(href= linkedin target='_blank')
            include ../svg/linkedin.svg.pug
    .intro__hire-me Hire me