:root {
    // Font Family
    --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    // Color Default
    --color-default-one: #03045E;
    --color-default-two: #023E8A;
    --color-default-three: #0077B6;
    --color-default-four: #0096C7;
    --color-default-five: #00B4D8;
    --color-default-six: #48CAE4;
    --color-default-seven: #90E0EF;
    --color-default-eight: #CAF0F8;
}