@mixin size($s) {
    font-size: $s * 0.1rem;
}

@mixin box($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}